MONGODB_URI=
MONGO_PSSWD=
MONGO_USER=
NEXT_PUBLIC_BACKEND_CONNECTOR_KEY=
NEXT_PUBLIC_BACKEND_TEXT_SIMILARITY=
NEXT_PUBLIC_TDB_TTT_SERVICE=
NEXT_PUBLIC_TDB_TTT_SERVICE_AUTHORIZATION=
NEXT_PUBLIC_BACKEND_CONNECTOR_HOST=
NEXT_PUBLIC_NEXTAUTH_URL=
NEXT_PUBLIC_DEFAULT_CHAT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GPT_BEARER_TOKEN=
SENTRY_IGNORE_API_RESOLUTION_ERROR=
