OPENAI_API_KEY=

PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_INDEX_NAME=
CHAT_HOST=
BACKEND_CONNECTOR_HOST=
BACKEND_CONNECTOR_HOST_KEY=

GPT_BEARER_TOKEN=


SENTRY_DSN=
SENTRY_ENVIRONMENT=localhost