OPENAI_API_KEY=

PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_INDEX_NAME=
CHAT_HOST=
BACKEND_CONNECTOR_HOST=
BACKEND_CONNECTOR_HOST_KEY=

GPT_BEARER_TOKEN=

SLACK_CHANNEL_ID=
SLACK_TOKEN=
SLACK_WEBHOOK=