.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: end; */
    /* padding: 1rem; */
    border: 1px solid #d9d9e3;
    border-radius: 0.5rem;
}

.header {
    width: auto;
}

.header p {
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 18px;
}

.buttonWrapper {
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    border-radius: 20.5px;
    cursor: pointer;
    width: auto;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
    /* background-color: #e5e7ea; */
    color: black;
    border: 1px solid black;
    position: relative;
}

.coming-soon-button {
    display: inline-block;
    background-color: #007BFF;
    /* Change the background color as desired */
    color: #fff;
    /* Change the text color as desired */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.comingSoonLabel {
    position: absolute;
    transform: translate(30%, -90%);
    background-color: #FF5733;
    /* Change the background color as desired */
    color: #fff;
    /* Change the text color as desired */
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 10px;
    z-index: 10;
}

.crossicon {
    width: 25px;
    height: 25px;
    /* fill: #ffffff; */
    opacity: 1;
    padding-top: 0.5rem;
    transition: opacity .2s ease-in-out;
}

.cloudform {
    position: relative;
}

.pdfContainer {
    /* Remove any margin or padding that may affect the layout */
    background: #ffffff;
    border-radius: 0.5rem;
    border: 1px solid #d9d9e3;
    /*display: flex;*/
    justify-content: center;
    margin-top: 4%;
    margin-left: 2%;
    align-items: center;
    padding: 10px;
    padding: 0;
    /* Ensure the list items are displayed vertically */
    display: block;
    /* Optional: Adjust styling for list items */
    list-style-type: none;
    padding: 0;
    position: absolute;
    width: 320px;
}


.pdfMain {
    overflow-y: auto;
    height: 350px;
}


.textarea {
    position: relative;
    resize: none;
    font-size: 1.1rem;
    padding: 1rem 2rem 1rem 2rem;
    width: 63vw;
    border-radius: 0.5rem;
    border: 1px solid #d9d9e3;
    background: #ffffff;
    color: #000;
    outline: none;
}

.textarea:disabled {
    opacity: 0.5;
}

.textarea:focus {
    outline: none;
    border-color: #6b7280;
    box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.5);
}

.textarea::placeholder {
    color: #6b7280;
}

.generatebutton {
    position: absolute;
    top: 0.87rem;
    right: 1rem;
    color: rgb(165, 162, 162);
    background: none;
    padding: 0.3rem;
    border: none;
    display: flex;
}

.loadingwheel {
    position: absolute;
    top: 0.2rem;
    right: 0.25rem;
}

.svgicon {
    transform: rotate(90deg);
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.generatebutton:hover {
    background: #e4575726;
    border-radius: 0.2rem;
}

.generatebutton:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    background: none;
}

.attachmentButton {
    position: absolute;
    top: 0.87rem;
    right: 3rem;
    color: rgb(182, 233, 183);
    background: none;
    padding: 0.3rem;
    border: none;
    display: flex;
}

.messagelist {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 0.5rem;
}

.messagelistloading {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

.usermessage {
    background: #ffffff;
    padding: 1.5rem;
    color: #000;
}

.usermessagewaiting {
    padding: 1.5rem;
    color: #000;
    background: linear-gradient(to left, #07080938, #1a1c2024, #07080936);
    background-size: 200% 200%;
    background-position: -100% 0;
    animation: loading-gradient 2s ease-in-out infinite;
    animation-direction: alternate;
    animation-name: loading-gradient;
}

@keyframes loading-gradient {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.apimessage {
    background: #f9fafb;
    padding: 1.5rem;
    color: #000;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.apimessage,
.usermessage,
.usermessagewaiting {
    display: flex;
}

.markdownanswer {
    line-height: 1.75;
}

.markdownanswer a:hover {
    opacity: 0.8;
}

.markdownanswer a {
    color: #b13a3a;
    font-weight: 500;
}

.markdownanswer code {
    color: #15cb19;
    font-weight: 500;
    white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
    margin: 1rem;
}

.boticon,
.usericon {
    margin-right: 1rem;
    border-radius: 0.1rem;
    height: 100%;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
    font-size: inherit;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 0;
    flex-direction: column;
}

.cloud {
    width: 73vw;
    height: 70vh;
    background: #ffffff;
    border-radius: 0.5rem;
    /* border: 1px solid #d9d9e3; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointsnormal {
    width: 90%;
    height: 90%;
}

.pointsdim {
    width: 90%;
    height: 90%;
    opacity: 0.25;
}

.footer {
    color: #5f6368;
    font-size: 0.8rem;
    margin: 1.5rem;
}

.footer a {
    font-weight: 500;
    color: #7a7d81;
}

.footer a:hover {
    opacity: 0.8;
}


/* Mobile optimization */

@media (max-width: 600px) {
    .main {
        padding: 1rem;
        max-height: 90vh;
    }

    .cloud {
        width: 22rem;
        height: 28rem;
    }

    .textarea {
        width: 22rem;
    }

    .topnav {
        border: 1px solid black;
        align-items: center;
        padding: 0.85rem 0.75rem 0.85rem 0.75rem;
    }

    .navlogo {
        font-size: 1.25rem;
        width: 20rem;
    }

    .markdownanswer code {
        white-space: pre-wrap !important;
    }

    .footer {
        font-size: 0.7rem;
        width: 100%;
        text-align: center;
    }
}


.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    position: absolute;
    width: 320px;
}


/* New class for button content */

.buttonContent {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Space between icon and text */

.buttonContent img {
    margin-right: 10px;
}

.roundedButton {
    border-radius: 30px;
    /* Half of the desired button height */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.untrainButton,
.trainButton {
    flex: 1;
    /* Distribute equal space */
    background-color: #7a7a7a;
    color: white;
    border: 2px solid #624f4f;
    padding: 10px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.untrainButton {
    margin-left: 2px;
}

.trainButton {
    margin-right: 2px;
}

.untrainButton:hover,
.trainButton:hover {
    background-color: #555;
}

.untrainButton p,
.trainButton p {
    margin-top: 5px;
    font-size: 0.85rem;
    font-weight: bold;
}

.displayButton {
    flex: 1;
    background-color: rgb(7, 89, 100);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.result {
    width: 73vw;
    height: 65vh;
    background: #ffffff;
    border-radius: 0.5rem;
    border: 1px solid #d9d9e3;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
}

.pdfName {
    display: flex;
}

.pdfList {
    list-style: none;
    /*display: flex;
    flex-wrap: wrap;
    */
    /* Adjust as needed */
    gap: 10px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
}

.pdfListItem {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 2px;
    /* Add any other styling you want */
}

.pdfIcon {
    /* Optional: Add margin to create spacing between the image and the file name */
    margin-right: 8px;
}